<app-sale-rep-history-search-criteria [StatusType]="true"></app-sale-rep-history-search-criteria>


<app-sale-rep-history-filter-criteria></app-sale-rep-history-filter-criteria>

<div>
    <h3>Search Result</h3>
    <span>Record returned</span>
    <span>Displauing 1 of 1</span>
    <span>page Size 
        <select>
            <option>25</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
        </select>
    </span>
    <table>
        <thead>
            <tr>
                <th>Rep ID</th>
                <th>Number</th>
                <th>Customer Name</th>
                <th>Email Addres/Fax Number</th>
                <th>Message Type</th>
                <th>Status</th>
                <th>Communication</th>
                <th>Sent Date</th>
                <th>Company#</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>