<app-sale-rep-history-search-criteria [PONumber]="true" [OrderStatus]="true" [ExportToExcel]="true"></app-sale-rep-history-search-criteria>

<app-sale-rep-history-filter-criteria [LOB]="true" [RepType]="true" [PaymentType]="true"></app-sale-rep-history-filter-criteria>

<div>
    <h3>Search History</h3>
    <span>Record returned</span>
    <span>Displauing 1 of 1</span>
    <span>page Size 
        <select>
            <option>25</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
        </select>
    </span>

    <table *ngIf="orderHistory">
        <thead>
            <tr>
                <th>Order date</th>
                <th>Rep ID</th>
                <th>DPID</th>
                <th>Order#</th>
                <th>Status</th>
                <th>Status Date</th>
                <th>PB</th>
                <th>Customers#</th>
                <th>Customers Name</th>
                <th>Revenue</th>
                <th>Margin</th>
                <th>qty</th>
                <th>Payment Type</th>
                <th>PO#</th>
                <th>Ship Date</th>
                <th>Task Code</th>
                <th>Company#</th>
                <th>Payment Code</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orderHistory">
                <td>{{order.OrderDate}}</td>
                <td>{{order.RepID}}</td>
                <td>{{order.DPID}}</td>
                <td>{{order.OrderNumber}}</td>
                <td>{{order.Status}}</td>
                <td>{{order.StatusDate}}</td>
                <td>{{order.PB}}</td>
                <td>{{order.CustomerNumber}}</td>
                <td>{{order.CustomerName}}</td>
                <td>{{order.LOB}}</td>
                <td>{{order.Revenue}}</td>
                <td>{{order.Margin}}</td>
                <td>{{order.Qty}}</td>
                <td>{{order.PaymentType}}</td>
                <td>{{order.PONumber}}</td>
                <td>{{order.ShipDate}}</td>
                <td>{{order.TaskCode}}</td>
                <td>{{order.CompanyNumber}}</td>
                <td>{{order.PaymentCode}}</td>
            </tr>
        </tbody>
    </table>
</div>