<app-sale-rep-history-search-criteria [PONumber]="false" [ExportToExcel]="true"></app-sale-rep-history-search-criteria>


<app-sale-rep-history-filter-criteria [LOB]="true"></app-sale-rep-history-filter-criteria>

<div>
    <h3>Search Result</h3>
    <span>Record returned</span>
    <span>Displauing 1 of 1</span>
    <span>page Size 
        <select>
            <option>25</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
        </select>
    </span>

    <table>
        <thead>
            <tr>
                <th>Quote date</th>
                <th>Rep ID</th>
                <th>Quote #</th>
                <th>Customer #</th>
                <th>Customer Name</th>
                <th>LOB</th>
                <th>Revenue</th>
                <th>Margin</th>
                <th>qty</th>
                <th>Quote Status</th>
                <th>Company #</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>