<app-sale-rep-history-search-criteria [PONumber]="true" [OrderStatus]="true"></app-sale-rep-history-search-criteria>

<app-sale-rep-history-filter-criteria [LOB]="true" [RepType]="true" [PaymentType]="true"></app-sale-rep-history-filter-criteria>

<div>
    <h3>Search Result</h3>
    <span>Record returned</span>
    <span>Displauing 1 of 1</span>
    <span>page Size 
        <select>
            <option>25</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
        </select>
    </span>
</div>